/*========================================*/
/*==============Date picker===============*/
/*========================================*/

.ui-widget-header {
  border-color: $brand_orange;
  background: $brand_brown;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: $brand_tan;
  border-color: $brand_brown
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
  border: 1px solid $brand_orange;
  color: $brand_orange
}

.ui-state-active, .ui-widget-content .ui-state-active {
  background: $brand_background;
  border: 1px solid $brand_brown;
  color: $brand_orange;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
  border: 1px solid $brand_brown;
  background: $brand_orange;
  color: $brand_background;
}

.ui-widget-content {
  background: $brand_background;
  border: 1px solid $brand_brown;
}

/*========================================*/
/*==============Time picker===============*/
/*========================================*/

li.ui-timepicker-selected {
  background: $brand_orange;
}

.ui-timepicker-list {
  font-family: 'open_sans', sans-serif;
}

.ui-timepicker-list:hover {
  background: $brand_orange;
}

/*========================================*/
/*===============Bx Slider================*/
/*========================================*/

/* Remove bxslider default background/border */
.bx-wrapper .bx-viewport
{
  box-shadow: none;
  border: 0;
  left: 0;
  background: #fff;
}

/* bxslider image viewport width to 100%*/
.bx-wrapper img {
  width: 100vw;
}


.bx-wrapper img,
.bx-wrapper li {

  @include tablet {
    width: 50vw !important;
  }

  @include desktop {
    width: 33.33vw !important;
    max-width: 427px;
  }
}

.slider_container {
  background-color: rgb(5, 23, 47);
}

.bx-viewport,
.container {

  @include desktop {
    max-width: 1280px;
    margin: 0 auto;
  }
}