@font-face {
    font-family: 'merriweather';
    src: url('assets/fonts/merriweather-regular-webfont.eot');
    src: url('assets/fonts/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/merriweather-regular-webfont.woff2') format('woff2'), url('assets/fonts/merriweather-regular-webfont.woff') format('woff'), url('assets/fonts/merriweather-regular-webfont.ttf') format('truetype'), url('assets/fonts/merriweather-regular-webfont.svg#merriweatherregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('assets/fonts/merriweather-bold-webfont.eot');
    src: url('assets/fonts/merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/merriweather-bold-webfont.woff2') format('woff2'), url('assets/fonts/merriweather-bold-webfont.woff') format('woff'), url('assets/fonts/merriweather-bold-webfont.ttf') format('truetype'), url('assets/fonts/merriweather-bold-webfont.svg#merriweatherbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'merriweather';
    src: url('assets/fonts/merriweather-bolditalic-webfont.eot');
    src: url('assets/fonts/merriweather-bolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/merriweather-bolditalic-webfont.woff2') format('woff2'), url('assets/fonts/merriweather-bolditalic-webfont.woff') format('woff'), url('assets/fonts/merriweather-bolditalic-webfont.ttf') format('truetype'), url('assets/fonts/merriweather-bolditalic-webfont.svg#merriweatherbold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'merriweather';
    src: url('assets/fonts/merriweather-italic-webfont.eot');
    src: url('assets/fonts/merriweather-italic-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/merriweather-italic-webfont.woff2') format('woff2'), url('assets/fonts/merriweather-italic-webfont.woff') format('woff'), url('assets/fonts/merriweather-italic-webfont.ttf') format('truetype'), url('assets/fonts/merriweather-italic-webfont.svg#merriweatheritalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('assets/fonts/opensans-extrabolditalic-webfont.eot');
    src: url('assets/fonts/opensans-extrabolditalic-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/opensans-extrabolditalic-webfont.woff2') format('woff2'), url('assets/fonts/opensans-extrabolditalic-webfont.woff') format('woff'), url('assets/fonts/opensans-extrabolditalic-webfont.ttf') format('truetype'), url('assets/fonts/opensans-extrabolditalic-webfont.svg#open_sansextrabold_italic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('assets/fonts/opensans-italic-webfont.eot');
    src: url('assets/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/opensans-italic-webfont.woff2') format('woff2'), url('assets/fonts/opensans-italic-webfont.woff') format('woff'), url('assets/fonts/opensans-italic-webfont.ttf') format('truetype'), url('assets/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'open_sans';
    src: url('assets/fonts/opensans-regular-webfont.eot');
    src: url('assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/opensans-regular-webfont.woff2') format('woff2'), url('assets/fonts/opensans-regular-webfont.woff') format('woff'), url('assets/fonts/opensans-regular-webfont.ttf') format('truetype'), url('assets/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans';
    src: url('assets/fonts/opensans-extrabold-webfont.eot');
    src: url('assets/fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'), url('assets/fonts/opensans-extrabold-webfont.woff2') format('woff2'), url('assets/fonts/opensans-extrabold-webfont.woff') format('woff'), url('assets/fonts/opensans-extrabold-webfont.ttf') format('truetype'), url('assets/fonts/opensans-extrabold-webfont.svg#open_sansextrabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

/*========================================*/
/*==========Global fixes/classes==========*/
/*========================================*/

/* Make media scale properly */
img, video {
   max-width: 100%;
   height: auto;
}

/* Clearfix */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

/* Set background for header section */
.header_bg {
	background:
	linear-gradient(
	rgba(0, 0, 0, 0.10), 
	rgba(0, 0, 0, 0.10)
	), 
	url('assets/images/rustic-masthead.jpg') no-repeat center center;
	margin: 0 auto;
	background-size: cover;
}


html {
	font-size: 18px;
}


/* Set header font to open sans bold */
h2 {
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
	font-size: 1.7rem;
	text-transform: uppercase;
}

h3 {
	font-family: 'open_sans', sans-serif	;
	font-size: 1.7rem;
}

/* Set body font to merriweather */
body {
	font-family: 'merriweather', serif;
	background-color: #f3f3f3;
	color: #292929;
}

/* Contain content to 320px for mobile */
.container {
	width: 54.6875%; 
	margin: 0 auto;
}



/*========================================*/
/*===========Header and Navbar============*/
/*========================================*/


/* Align header text to center */
header {
	text-align: center;
	color: white;
}

/* Space nav bar from top of page */
nav {
	padding-top: 10px;
}

/* Make nav bar align horizontally*/
nav li {
	display: inline;
	padding: 0 1.479%;
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 1px 4px 3px black;
}


/* Remove underline from nav bar and make white*/
nav li a {
	text-decoration: none;
	color: white;
}

/* Logo sizing/positioning */
header img {
	width: 35%;
	padding-top: 5.5%;
}

/* Slogan div spacing */
.slogan {
	padding-top: 2%;
	padding-bottom: 6%;
}

/* Slogan spacing between lines and text shadow */
.slogan p {
	padding: .4% 0;
	text-shadow: 1px 4px 3px black;
}

/* Menu button styling */
.menu_button {
	margin: .5% auto;
	text-transform: uppercase;
	text-decoration: none;
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
	font-size: .9rem;
	padding: 1% 1.5%;
	color: white;
	background-color: orange;
	box-shadow: 0px 4px 6px black;

}

/* Brown background and spacing on day picker */
.its_today {
	background-color: rgba(72,49,24,.8);
	padding: 1%;
	margin-top: 7%;
}

/* Font size of "It's >>day<<" */
.today {
	font-size: .8rem;
}

/* Day picker line spacing */
.its_today p {
	margin: .5%;
}

/* Styling of "We're open/We're closed" */
.open_closed {
	text-transform: uppercase;
	font-size: 1.3rem;
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
}

/*========================================*/
/*=============Local Flavors==============*/
/*========================================*/

/* Local flavors centering/spacing */
.local_flavors {
	text-align: center;
	margin: 4% auto;
}

/* Heading spacing */
.local_flavors h2 {
	margin: 8% 0;
}

/* More spacing */
.local_flavors p {
	padding: 1%;
	line-height: 22px;
}

/*========================================*/
/*===========bxslider carousel============*/
/*========================================*/

/* Remove bxslider default background/border */
.bx-wrapper .bx-viewport 
{
    box-shadow: none;
    border: 0;
    left: 0;
    background: #fff;
}

/* bxslider image viewport width to 100%*/
.bx-wrapper img {
	width: 100vw;
}

/*========================================*/
/*=============Food and Drink=============*/
/*========================================*/

/* Center text, spacing at bottom */
.food_drink {
	text-align: center;
	padding: 6% 0 5% 0;
}

/* Spacing between Forks/Knives/Glasses sections */
.food_drink div {
	margin-top: 8%;
}

/* Minor Spacing of sub headings */
.food_drink h3 {
	margin: 4%;
}

/* More minor spacing */
.food_drink p {
	margin: 2%
}

/*========================================*/
/*==============Book a Table==============*/
/*========================================*/

/* Booking text styling and background */
.booking {
	text-align: center;
	color: white;
	background: url('assets/images/tables.jpg') no-repeat center center;
    background-size: cover;
}

/* Create gray background over bg image */
.gray_background {
	background-color: rgba(0, 0, 0, 0.45);
}

/* Heading top spacing */
.booking h2 {
	padding-top: 6%;
}

/* Paragraph spacing*/
.booking p {
	line-height: 22px;
	padding: 5% 0;
}

/* Minor spacing around form */
.booking form {
	padding: 3%;
}

/* Form label text styling */
.booking label {
	text-transform: uppercase;
	display: block;
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
	font-size: 1.1rem;
	text-align: left;
	padding: 2.5% 3%;
	color: #e7e3c5;
}

/* Input box sizing */
.booking input {
	width: 90%;
	padding: 1.2%;
}

/* Button styling */
.booking button {
	text-transform: uppercase;
	font-family: 'open_sans', sans-serif;
	font-weight: bold;
	font-size: 0.9rem;
	padding: 2.5% 6%;
	color: white;
	background-color: orange;
	margin-top: 5%;
	border: none;
	box-shadow: 0px 4px 6px black;

}

/*========================================*/
/*==============Date picker===============*/
/*========================================*/

.ui-widget-header {
	border-color: #f89603;
	background: #483118;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: #e7e3c5;
	border-color: #483118
}

.ui-state-hover, .ui-widget-content .ui-state-hover {
	border: 1px solid #f89603;
	color: #f89603
}

.ui-state-active, .ui-widget-content .ui-state-active {
	background: #f3f3f3;
	border: 1px solid #483118;
	color: #f89603;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
	border: 1px solid #483118;
	background: #f89603;
	color: #f3f3f3;
}

.ui-widget-content {
	background: #f3f3f3;
	border: 1px solid #483118;
}


/*========================================*/
/*==============Time picker===============*/
/*========================================*/

li.ui-timepicker-selected {
	background: #f89603;
}

.ui-timepicker-list {
	font-family: 'open_sans', sans-serif;
}

.ui-timepicker-list:hover {
	background: #f89603;
}



/*========================================*/
/*==========Footer/Contact info===========*/
/*========================================*/

/* Align text center, spacing */
.find_us {
	text-align: center;
	padding: 5%;

}

/* Tan brand color on logos */
.find_us i {
	color: #e7e3c5;
	padding: 7%;
}

/* Footer bg color to brown */
footer {
	background-color: #483118;
}

/* Footer container */
.footer_cont {
	margin: 0 auto;
	width: 70%;
}

/* Footer logo position/size */
footer img {
	max-width: 30%;
	float: left;
	padding: 4%;
}

/* Footer 'follow us' align right and spacing */
footer div div {
	padding: 4%;
	text-align: right;
}

/* Footer text to white */
footer p {
	color: white;
}

/* Footer icons to white */
footer i {
	color: white;
	padding: 1%;
}

/* Make copyright small */
.copyright {
	font-size: 0.66rem;
	padding-top: 2%;
}


/*========================================*/
/*===========Tablet size version==========*/
/*========================================*/

@media screen and (min-width: 768px) {




/* Increase heading font size */
h2 {
	font-size: 2.4rem;
}

/* Increase container size */
.container {
	width: 80%;
}

/* Move navbar to right side*/
nav {
	text-align: right;
	padding-top: 2%;
}

/* Increase logo size */
header img {
	width: 43%;
}

.slogan {
	padding-bottom: 4%;
}

.local_flavors h2 {
	margin: 4% 0;
}

/* 3 lines of frustration */
.bx-wrapper img,
.bx-wrapper li {
	width: 50vw !important;
}

/* Unwrap for tablet version */
.food_drink {
	width: 100%;
}

/* Food&drink heading spacing */
.food_drink h3 {
	margin: 9%;
}

/* Unstack food&drink divs */
.food_drink div {
	float: left;
	width: 33%;
	margin-top: 1%;
	padding-bottom: 4%;
}

/* Minor line spacing */
.food_drink p {
	margin: 4% 0;
}

/* Clear floats, spacing */
.booking {
	clear: both;
	padding: 1%
}

/* Create lighter border around gray bg */
.gray_background {
	margin: 4%;
}

/* Minor spacing */
.booking p {
	padding: 5% 0 2% 0;
}

/* Clear padding except bottom */
.booking form {
	padding: 0 0 6% 0;
	width: 100%;
}

/* Stack forms vertically */
.booking form div {
	display: inline-block;
	width: 30%;
	margin: 2% 0;
}

/* Label spacing */
.booking label {
	padding: 2.5% 7%;
}

/* Minor adjustments to input */
.booking input {
	width: 85%;
	padding: 4% 0;
	border: 2px solid #f89603
}

/* Book now button resizing */
.booking button {
	padding: 1.5% 4%;
}

/* Unstack icons/contact info */
.find_us div {
	float: left;
	width: 32%;
	padding-top: 3%;
}

/* Unwrap footer */
.footer_cont {
	width: 100%;
}

/* Footer logo size/position */
footer img {
	max-width: 15%;
	padding-top: 5%;
}


}


/*========================================*/
/*==========Desktop size version==========*/
/*========================================*/


@media screen and (min-width: 1280px){

/* why does this look so easy now */
.bx-wrapper img,
.bx-wrapper li {
	width: 33.33vw !important;
	max-width: 427px;
}

/* Contains bxslider to 1280px */
.slidercontainer,
.container {
	max-width: 1280px;
	margin: 0 auto;
}



}
